		</div>


	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="{{app.request.basepath}}/src/js/script.js"></script>
</body>
</html>