<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Hetic Students</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="{{app.request.basepath}}/src/css/reset.css">	
	<link rel="stylesheet" type="text/css" href="{{app.request.basepath}}/src/css/main.css">
  
 
</head>
<body>

	<div class="container center-align">
		<header></header>