{{include('partials/header.twig')}}

	<div class="container">
		<div class="slide"></div>
		<div class="animated fadeInLeft parallax parallax__top"></div>
		<div class="animated fadeInDown parallax parallax__middle"></div>
		<div class="animated fadeInRight parallax parallax__bottom"></div>
	</div>
	

{{include('partials/footer.twig')}}