
.container{
	position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
    background: rgba(61,86,110,1.0);
}


/**
** parallax
**/
.parallax{
	width: 300%;
	height: 35%;
}

.parallax__top{
	position: absolute;
	top:0;
	left:-200%;
	z-index: 100;
	background: linear-gradient(to right, white, rgba(22,160,133,1.0));
	animation: translate 4s;
}

.parallax__middle{
	position: absolute;
	top:30%;
	right:50%;
	z-index: 50;
	background: rgba(240,240,240,1.0);
}

.parallax__bottom{
	position: absolute;
	bottom:0;
	left:0;
	z-index: 0;
	background: linear-gradient(to right, white, rgba(22,160,133,1.0));
	animation: translate reverse 4s;
}

@keyframes translate {
  0% {
  	left:0;
  }
  100% {
  	left:-200%;
  }
}


.hide{
	display:none;
}